.App {
  text-align: center;
}
.btn-card{
  margin: auto;
  width: 17vw;
  padding: 5px;
  font-size: 20px;
  text-overflow: clip;
  background-color:#292429;
  color: bisque;
  border-radius: 5px;
}
.btn-card:hover{
  cursor: pointer;
  background-color: transparent ;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .btn-card{
    width: 27vw;
  }
  }
  .btn-detalhe{
      font-size: 15px;
      background-color:#292429;
      color: bisque;
      border-radius: 5px;
      cursor:pointer;
    }

    .cafe{
      /* background-color: beige; */
      margin: auto;
      position: relative;
    }